In [108]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px
#import plotly.graph_objects as go

### 유저, 주문, 재주문, 카테고리, 제품명 형식 파악

In [46]:
df = pd.read_csv('./Looker Ecommerce BigQuery Dataset/orders.csv')

In [62]:
df = df.assign(created_at=pd.to_datetime(df['created_at'], format='ISO8601'))

In [96]:
df

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3
1,60,44,Cancelled,F,2023-01-20 02:12:00+00:00,NaN,NaN,NaN,1
2,64,46,Cancelled,F,2021-12-06 09:11:00+00:00,NaN,NaN,NaN,1
3,89,65,Cancelled,F,2020-08-13 09:58:00+00:00,NaN,NaN,NaN,1
4,102,76,Cancelled,F,2023-01-17 08:17:00+00:00,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
125221,125196,99972,Shipped,M,2022-06-25 11:56:00+00:00,NaN,2022-06-28 08:24:00+00:00,NaN,1
125222,125199,99975,Shipped,M,2022-07-20 02:19:00+00:00,NaN,2022-07-22 11:08:00+00:00,NaN,4
125223,125208,99983,Shipped,M,2022-03-14 15:06:00+00:00,NaN,2022-03-17 05:15:00+00:00,NaN,1
125224,125210,99983,Shipped,M,2023-03-01 15:06:00+00:00,NaN,2023-03-02 10:50:00+00:00,NaN,2
125225,125224,99999,Shipped,M,2023-12-22 11:29:00+00:00,NaN,2023-12-24 00:44:00+00:00,NaN,2

In [64]:
df['created_at'].describe()
# 19년도 1월 6일 ~ 24년도 1월 17일

count                                 125226
mean     2022-10-25 00:25:31.427571712+00:00
min                2019-01-06 05:30:00+00:00
25%                2022-02-26 07:50:00+00:00
50%                2023-02-20 08:08:00+00:00
75%                2023-09-26 09:51:30+00:00
max         2024-01-17 19:46:14.316147+00:00
Name: created_at, dtype: object

In [65]:
df['order_id'].nunique()

125226

In [75]:
ret = df['user_id'].value_counts().to_frame()

In [80]:
ret['count'].value_counts()
# 재구매는 최대 4번까지 존재
# 첫구매는 49,832명
# 재구매는 30,212명

count
1    49832
2    20231
3     4992
4     4989
Name: count, dtype: int64

In [66]:
df['user_id'].nunique()
# 주문한 유저 8만명

80044

In [67]:
user = pd.read_csv('./archive (1)/users.csv')

In [68]:
# 전체 유저 10만명
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              100000 non-null  int64
 1   first_name      100000 non-null  object
 2   last_name       100000 non-null  object
 3   email           100000 non-null  object
 4   age             100000 non-null  int64
 5   gender          100000 non-null  object
 6   state           100000 non-null  object
 7   street_address  100000 non-null  object
 8   postal_code     100000 non-null  object
 9   city            99042 non-null   object
 10  country         100000 non-null  object
 11  latitude        100000 non-null  float64
 12  longitude       100000 non-null  float64
 13  traffic_source  100000 non-null  object
 14  created_at      100000 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 11.4+ MB

In [71]:
user['id'].nunique()
# 동명이인 존재
#df = df.assign(name=df['first_name'] + ' ' + df['last_name'])

100000

In [82]:
product = pd.read_csv('./Looker Ecommerce BigQuery Dataset/products.csv')

In [85]:
product['id'].nunique()
# 제품 수 29,120개

29120

In [89]:
product['cost'].describe()

count    29120.000000
mean        28.481774
std         30.624681
min          0.008300
25%         11.275613
50%         19.675081
75%         34.440000
max        557.151002
Name: cost, dtype: float64

In [87]:
product['category'].value_counts()

category
Intimates                        2363
Jeans                            1999
Tops & Tees                      1868
Fashion Hoodies & Sweatshirts    1866
Swim                             1798
Sleep & Lounge                   1771
Shorts                           1765
Sweaters                         1737
Accessories                      1559
Active                           1432
Outerwear & Coats                1420
Underwear                        1088
Pants                            1041
Dresses                           955
Socks                             905
Maternity                         898
Plus                              758
Suits & Sport Coats               739
Socks & Hosiery                   666
Pants & Capris                    613
Leggings                          564
Blazers & Jackets                 561
Skirts                            367
Suits                             188
Jumpsuits & Rompers               162
Clothing Sets                      37
Name: count, dtype: int64

In [98]:
event = pd.read_csv('./Looker Ecommerce BigQuery Dataset/events.csv')

In [100]:
event.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2431963 entries, 0 to 2431962
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   user_id          float64
 2   sequence_number  int64
 3   session_id       object
 4   created_at       object
 5   ip_address       object
 6   city             object
 7   state            object
 8   postal_code      object
 9   browser          object
 10  traffic_source   object
 11  uri              object
 12  event_type       object
dtypes: float64(1), int64(2), object(10)
memory usage: 241.2+ MB

In [101]:
event.describe(include='all')

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
count,2.431963e+06,1.306292e+06,2.431963e+06,2431963,2431963,2431963,2408883,2431963,2431963,2431963,2431963,2431963,2431963
unique,NaN,NaN,NaN,681759,2143390,681683,8775,231,17324,5,5,35530,6
top,NaN,NaN,NaN,b174d8d5-a07f-44c1-a1c2-226f495b4cf4,2020-10-21 16:07:00+00:00,196.46.153.171,Shanghai,Guangdong,02675-031,Chrome,Email,/cart,product
freq,NaN,NaN,NaN,13,8,17,60561,129796,10147,1218687,1091988,595994,845607
mean,1.215982e+06,4.996636e+04,3.316146e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7.020474e+05,2.881711e+04,2.676365e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.079915e+05,2.500500e+04,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.215982e+06,4.992700e+04,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.823972e+06,7.483900e+04,4.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.431963e+06,1.000000e+05,1.300000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
event['traffic_source'].value_counts()

traffic_source
Email       1091988
Adwords      731144
Facebook     243834
YouTube      242938
Organic      122059
Name: count, dtype: int64

## Join: order_items, orders, products, users

In [106]:
oi = pd.read_csv('./archive (1)/order_items.csv')

In [107]:
oi

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02
3,36717,25278,20165,14235,99072,Shipped,2023-12-22 20:48:19+00:00,2023-12-24 16:44:00+00:00,NaN,NaN,0.02
4,131061,90241,71954,14235,353798,Shipped,2022-06-19 16:57:59+00:00,2022-06-19 19:29:00+00:00,NaN,NaN,0.02
...,...,...,...,...,...,...,...,...,...,...,...
181754,9674,6679,5325,24447,26095,Returned,2020-12-23 00:05:01+00:00,2020-12-25 22:54:00+00:00,2020-12-28 07:08:00+00:00,2020-12-30 22:43:00+00:00,999.00
181755,7801,5416,4283,24447,21078,Shipped,2022-01-12 23:51:07+00:00,2022-01-10 03:42:00+00:00,NaN,NaN,999.00
181756,62986,43364,34691,23546,169937,Shipped,2023-02-26 00:38:43+00:00,2023-02-25 06:53:00+00:00,NaN,NaN,999.00
181757,106577,73418,58623,24447,287560,Shipped,2023-11-12 02:41:02+00:00,2023-11-14 20:44:00+00:00,NaN,NaN,999.00
181758,143759,98984,78981,24447,388091,Shipped,2022-03-13 10:29:49+00:00,2022-03-14 01:27:00+00:00,NaN,NaN,999.00