# 매출 EDA

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [3]:
# 한글 깨짐 해결
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

## 1. 데이터 가져오기

### 1-1) looker_df

In [4]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('./looker_ecom.csv')
df.head(3)

C:\Users\LG\AppData\Local\Temp\ipykernel_12808\1377504682.py:2: DtypeWarning: Columns (5,7,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./looker_ecom.csv')

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item,order_items_id,product_id,inventory_item_id,status_order_items,created_at_order_items,shipped_at_order_items,delivered_at_order_items,returned_at_order_items,sale_price,first_name,last_name,email,age,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_account_at,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,13,6998,36,Cancelled,2022-10-22 07:55:58+00:00,NaN,NaN,NaN,15.67,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,7.44325,Shorts,Grane Supergirl Shorts,Grane,15.67,Women,3D4893419E57449FB290647149F738D4,2
1,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,11,7173,29,Cancelled,2022-10-20 06:35:35+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.47081,Skirts,Woman Within Plus Size Petite flare skirt,Woman Within,24.99,Women,162D18156ABE38A3B32851B72B1D44F5,5
2,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,12,1488,33,Cancelled,2022-10-24 07:19:09+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.89564,Sweaters,LookbookStore Women Coloured Zip Mouth Smile S...,LookbookStore,24.99,Women,8A146F1A3DA4700CBF03CDC55E2DAAE6,5

### 1-2) 데이터정보 확인

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181759 entries, 0 to 181758
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  181759 non-null  int64
 1   user_id                   181759 non-null  int64
 2   status                    181759 non-null  object
 3   gender                    181759 non-null  object
 4   created_at                181759 non-null  object
 5   returned_at               18232 non-null   object
 6   shipped_at                118281 non-null  object
 7   delivered_at              63841 non-null   object
 8   num_of_item               181759 non-null  int64
 9   order_items_id            181759 non-null  int64
 10  product_id                181759 non-null  int64
 11  inventory_item_id         181759 non-null  int64
 12  status_order_items        181759 non-null  object
 13  created_at_order_items    181759 non-null  object
 14  shipped_at_order_items    118281 non-null  object
 15  delivered_at_order_items  63841 non-null   object
 16  returned_at_order_items   18232 non-null   object
 17  sale_price                181759 non-null  float64
 18  first_name                181759 non-null  object
 19  last_name                 181759 non-null  object
 20  email                     181759 non-null  object
 21  age                       181759 non-null  int64
 22  state                     181759 non-null  object
 23  street_address            181759 non-null  object
 24  postal_code               181759 non-null  object
 25  city                      180078 non-null  object
 26  country                   181759 non-null  object
 27  latitude                  181759 non-null  float64
 28  longitude                 181759 non-null  float64
 29  traffic_source            181759 non-null  object
 30  created_account_at        181759 non-null  object
 31  cost                      181759 non-null  float64
 32  category                  181759 non-null  object
 33  name                      181749 non-null  object
 34  brand                     181610 non-null  object
 35  retail_price              181759 non-null  float64
 36  department                181759 non-null  object
 37  sku                       181759 non-null  object
 38  distribution_center_id    181759 non-null  int64
dtypes: float64(5), int64(8), object(26)
memory usage: 54.1+ MB

In [16]:
df.describe(include='all')

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item,order_items_id,product_id,inventory_item_id,status_order_items,created_at_order_items,shipped_at_order_items,delivered_at_order_items,returned_at_order_items,sale_price,first_name,last_name,email,age,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_account_at,cost,category,name,brand,retail_price,department,sku,distribution_center_id
count,181759.000000,181759.000000,181759,181759,181759,18232,118281,63841,181759.000000,181759.000000,181759.000000,181759.000000,181759,181759,118281,63841,18232,181759.000000,181759,181759,181759,181759.000000,181759,181759,181759,180078,181759,181759.000000,181759.000000,181759,181759,181759.000000,181759,181749,181610,181759.000000,181759,181759,181759.000000
unique,NaN,NaN,5,2,117373,12478,79123,43187,NaN,NaN,NaN,NaN,5,181526,79123,43187,12478,NaN,690,1000,69073,NaN,228,80043,15074,7586,16,NaN,NaN,5,78637,NaN,26,27236,2752,NaN,2,29046,NaN
top,NaN,NaN,Shipped,F,2024-01-15 12:57:11.291061+00:00,2023-07-15 19:49:00+00:00,2023-12-26 19:56:00+00:00,2023-09-06 16:25:00+00:00,NaN,NaN,NaN,NaN,Shipped,2023-08-07 01:21:57+00:00,2023-12-26 19:56:00+00:00,2023-09-06 16:25:00+00:00,2023-07-15 19:49:00+00:00,NaN,Michael,Smith,michaelsmith@example.org,NaN,Guangdong,4942 Martinez Fields,02675-031,Shanghai,China,NaN,NaN,Search,2022-11-11 11:42:00+00:00,NaN,Intimates,Wrangler Men's Premium Performance Cowboy Cut ...,Allegra K,NaN,Women,6B45CF467A9C88001159A826E92C7437,NaN
freq,NaN,NaN,54440,91009,11,6,9,9,NaN,NaN,NaN,NaN,54440,2,9,9,6,NaN,4287,4084,62,NaN,9719,14,718,4608,62708,NaN,NaN,127277,15,NaN,13474,62,6292,NaN,91009,21,NaN
mean,62579.982609,49983.272020,NaN,NaN,NaN,NaN,NaN,NaN,1.901457,90880.000000,15254.151838,245291.860007,NaN,NaN,NaN,NaN,NaN,59.568544,NaN,NaN,NaN,41.063749,NaN,NaN,NaN,NaN,NaN,28.352538,25.397517,NaN,NaN,28.655281,NaN,NaN,NaN,59.568544,NaN,NaN,5.008748
std,36125.987285,28830.895739,NaN,NaN,NaN,NaN,NaN,NaN,1.066470,52469.448126,8413.482833,141661.912894,NaN,NaN,NaN,NaN,NaN,66.657262,NaN,NaN,NaN,17.032648,NaN,NaN,NaN,NaN,NaN,21.983909,89.877515,NaN,NaN,31.022340,NaN,NaN,NaN,66.657262,NaN,NaN,2.900402
min,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,3.000000,NaN,NaN,NaN,NaN,NaN,0.020000,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,-43.007536,-158.164931,NaN,NaN,0.008300,NaN,NaN,NaN,0.020000,NaN,NaN,1.000000
25%,31266.500000,25031.500000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,45440.500000,7979.500000,122565.000000,NaN,NaN,NaN,NaN,NaN,24.500000,NaN,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,26.148665,-50.536439,NaN,NaN,11.366210,NaN,NaN,NaN,24.500000,NaN,NaN,2.000000
50%,62529.000000,49983.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,90880.000000,15966.000000,245284.000000,NaN,NaN,NaN,NaN,NaN,39.990002,NaN,NaN,NaN,41.000000,NaN,NaN,NaN,NaN,NaN,35.202957,4.980070,NaN,NaN,19.829000,NaN,NaN,NaN,39.990002,NaN,NaN,5.000000
75%,93845.500000,74867.500000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,136319.500000,22504.000000,367983.000000,NaN,NaN,NaN,NaN,NaN,69.949997,NaN,NaN,NaN,56.000000,NaN,NaN,NaN,NaN,NaN,40.724844,116.377408,NaN,NaN,34.545320,NaN,NaN,NaN,69.949997,NaN,NaN,8.000000
max,125226.000000,100000.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,181759.000000,29120.000000,490705.000000,NaN,NaN,NaN,NaN,NaN,999.000000,NaN,NaN,NaN,70.000000,NaN,NaN,NaN,NaN,NaN,64.865194,153.560238,NaN,NaN,557.151002,NaN,NaN,NaN,999.000000,NaN,NaN,10.000000

## 3. 매출(profit) 컬럼 만들기

### 3-1) status_order_items (Complete, Shipped)

In [18]:
# status_order_items 분류 - 값
df['status_order_items'].value_counts()

status_order_items
Shipped       54440
Complete      45609
Processing    36388
Cancelled     27090
Returned      18232
Name: count, dtype: int64

In [6]:
# status_order_items가 Complete, Shipped인 컬럼만 출력
status_purchase = df[(df['status_order_items']=='Complete') | (df['status_order_items']=='Shipped')]
status_purchase.head(3)

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item,order_items_id,product_id,inventory_item_id,status_order_items,created_at_order_items,shipped_at_order_items,delivered_at_order_items,returned_at_order_items,sale_price,first_name,last_name,email,age,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_account_at,cost,category,name,brand,retail_price,department,sku,distribution_center_id
13553,7,4,Complete,F,2022-10-18 09:31:00+00:00,NaN,2022-10-19 00:36:00+00:00,2022-10-20 13:24:00+00:00,1,10,1035,26,Complete,2022-10-18 06:17:54+00:00,2022-10-19 00:36:00+00:00,2022-10-20 13:24:00+00:00,NaN,148.000000,Jennifer,Young,jenniferyoung@example.net,12,Texas,852 Bird Knolls,77083,Mission Bend,United States,29.693098,-95.648935,Search,2019-09-14 09:31:00+00:00,61.568000,Sweaters,Lilly Pulitzer Women's Charter Sweater,Lilly Pulitzer,148.000000,Women,A34BACF839B923770B2C360EEFA26748,9
13554,35,24,Complete,F,2023-11-19 04:30:00+00:00,NaN,2023-11-21 02:49:00+00:00,2023-11-23 03:36:00+00:00,1,54,5119,151,Complete,2023-11-19 03:44:24+00:00,2023-11-21 02:49:00+00:00,2023-11-23 03:36:00+00:00,NaN,39.990002,Michelle,Oconnor,michelleoconnor@example.com,69,Hebei,7598 Michael Pines Suite 031,64499,Foshan,China,40.009894,118.710490,Search,2022-11-29 04:30:00+00:00,19.595101,Pants & Capris,Dockers Women's Khaki Pant With Hello Smooth,Dockers,39.990002,Women,A5FDFA672284DA6BF4F4326E2B3698BD,7
13555,39,29,Complete,F,2022-08-06 18:29:00+00:00,NaN,2022-08-09 17:37:00+00:00,2022-08-14 08:58:00+00:00,1,58,5916,163,Complete,2022-08-06 17:57:12+00:00,2022-08-09 17:37:00+00:00,2022-08-14 08:58:00+00:00,NaN,44.000000,Brittany,Kim,brittanykim@example.org,34,California,156 Paul Turnpike,92376,Rialto,United States,34.626017,-117.464853,Search,2019-02-02 18:29:00+00:00,24.684000,Leggings,Hue Women's Double Knit Leggings - Plus Size,HUE,44.000000,Women,C5F441CD5F43EB2F2C024E1F8B5D00CD,2

In [7]:
# status_purchase 정보
# 100049행
status_purchase.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100049 entries, 13553 to 181758
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  100049 non-null  int64
 1   user_id                   100049 non-null  int64
 2   status                    100049 non-null  object
 3   gender                    100049 non-null  object
 4   created_at                100049 non-null  object
 5   returned_at               0 non-null       object
 6   shipped_at                100049 non-null  object
 7   delivered_at              45609 non-null   object
 8   num_of_item               100049 non-null  int64
 9   order_items_id            100049 non-null  int64
 10  product_id                100049 non-null  int64
 11  inventory_item_id         100049 non-null  int64
 12  status_order_items        100049 non-null  object
 13  created_at_order_items    100049 non-null  object
 14  shipped_at_order_items    100049 non-null  object
 15  delivered_at_order_items  45609 non-null   object
 16  returned_at_order_items   0 non-null       object
 17  sale_price                100049 non-null  float64
 18  first_name                100049 non-null  object
 19  last_name                 100049 non-null  object
 20  email                     100049 non-null  object
 21  age                       100049 non-null  int64
 22  state                     100049 non-null  object
 23  street_address            100049 non-null  object
 24  postal_code               100049 non-null  object
 25  city                      99089 non-null   object
 26  country                   100049 non-null  object
 27  latitude                  100049 non-null  float64
 28  longitude                 100049 non-null  float64
 29  traffic_source            100049 non-null  object
 30  created_account_at        100049 non-null  object
 31  cost                      100049 non-null  float64
 32  category                  100049 non-null  object
 33  name                      100046 non-null  object
 34  brand                     99968 non-null   object
 35  retail_price              100049 non-null  float64
 36  department                100049 non-null  object
 37  sku                       100049 non-null  object
 38  distribution_center_id    100049 non-null  int64
dtypes: float64(5), int64(8), object(26)
memory usage: 30.5+ MB

### 3-2) profit(순이익) 컬럼 만들기
#### (1) sale_price(소매가), cost(도매가), retail_price(권장소매가)

In [74]:
# sale_price, cost, retail_price의 관계성
df[['sale_price', 'cost', 'retail_price']].head(3)

   sale_price      cost  retail_price
0       15.67   7.44325         15.67
1       24.99  10.47081         24.99
2       24.99  10.89564         24.99

In [77]:
# sale_price와 retail_price는 같은 데이터
df[df['sale_price'] != df['retail_price']][['sale_price', 'retail_price']].count()

sale_price      0
retail_price    0
dtype: int64

#### (2) status_purchase : status가 Complete, Shipped인 행만 profit 계산
- profit = sale_price - cost  
- 순이익 = 소매가 - 도매가

In [8]:
# profit 컬럼 만들기
df = df.assign(profit = status_purchase['sale_price']-status_purchase['cost'])
df.head(3)

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item,order_items_id,product_id,inventory_item_id,status_order_items,created_at_order_items,shipped_at_order_items,delivered_at_order_items,returned_at_order_items,sale_price,first_name,last_name,email,age,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_account_at,cost,category,name,brand,retail_price,department,sku,distribution_center_id,profit
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,13,6998,36,Cancelled,2022-10-22 07:55:58+00:00,NaN,NaN,NaN,15.67,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,7.44325,Shorts,Grane Supergirl Shorts,Grane,15.67,Women,3D4893419E57449FB290647149F738D4,2,NaN
1,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,11,7173,29,Cancelled,2022-10-20 06:35:35+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.47081,Skirts,Woman Within Plus Size Petite flare skirt,Woman Within,24.99,Women,162D18156ABE38A3B32851B72B1D44F5,5,NaN
2,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,12,1488,33,Cancelled,2022-10-24 07:19:09+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.89564,Sweaters,LookbookStore Women Coloured Zip Mouth Smile S...,LookbookStore,24.99,Women,8A146F1A3DA4700CBF03CDC55E2DAAE6,5,NaN

#### (4) profit 컬럼 확인

In [9]:
# 100049행에 profit값이 잘 들어감
df[df['profit'] > 0]['profit'].count()

100049

In [10]:
# Complete
df[(df['status_order_items']=='Complete') & (df['profit'] <= 0)]

Empty DataFrame
Columns: [order_id, user_id, status, gender, created_at, returned_at, shipped_at, delivered_at, num_of_item, order_items_id, product_id, inventory_item_id, status_order_items, created_at_order_items, shipped_at_order_items, delivered_at_order_items, returned_at_order_items, sale_price, first_name, last_name, email, age, state, street_address, postal_code, city, country, latitude, longitude, traffic_source, created_account_at, cost, category, name, brand, retail_price, department, sku, distribution_center_id, profit]
Index: []

In [11]:
# Shipped
df[(df['status_order_items']=='Shipped') & (df['profit'] <= 0)]

Empty DataFrame
Columns: [order_id, user_id, status, gender, created_at, returned_at, shipped_at, delivered_at, num_of_item, order_items_id, product_id, inventory_item_id, status_order_items, created_at_order_items, shipped_at_order_items, delivered_at_order_items, returned_at_order_items, sale_price, first_name, last_name, email, age, state, street_address, postal_code, city, country, latitude, longitude, traffic_source, created_account_at, cost, category, name, brand, retail_price, department, sku, distribution_center_id, profit]
Index: []

#### (5) profit : NaN값 처리

In [12]:
# NaN값 카운트
df['profit'].isna().count()

181759

In [13]:
# NaN_0으로 채우기
df['profit'] = df.loc[:, 'profit'].fillna(0)

In [14]:
# profit이 잘 들어감
df.head(3)

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item,order_items_id,product_id,inventory_item_id,status_order_items,created_at_order_items,shipped_at_order_items,delivered_at_order_items,returned_at_order_items,sale_price,first_name,last_name,email,age,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_account_at,cost,category,name,brand,retail_price,department,sku,distribution_center_id,profit
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,13,6998,36,Cancelled,2022-10-22 07:55:58+00:00,NaN,NaN,NaN,15.67,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,7.44325,Shorts,Grane Supergirl Shorts,Grane,15.67,Women,3D4893419E57449FB290647149F738D4,2,0.0
1,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,11,7173,29,Cancelled,2022-10-20 06:35:35+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.47081,Skirts,Woman Within Plus Size Petite flare skirt,Woman Within,24.99,Women,162D18156ABE38A3B32851B72B1D44F5,5,0.0
2,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,12,1488,33,Cancelled,2022-10-24 07:19:09+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.89564,Sweaters,LookbookStore Women Coloured Zip Mouth Smile S...,LookbookStore,24.99,Women,8A146F1A3DA4700CBF03CDC55E2DAAE6,5,0.0

#### (6) profit과의 상관관계
- ...는 다들 문자형 데이터라...음.. 일단 보류

## 4. 연도 별 매출

- 일단 하늘님 코드+내용 꼼꼼히 훑어보기

## 5. 지역 별 매출
- country, state, city

In [15]:
df.head(3)

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item,order_items_id,product_id,inventory_item_id,status_order_items,created_at_order_items,shipped_at_order_items,delivered_at_order_items,returned_at_order_items,sale_price,first_name,last_name,email,age,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_account_at,cost,category,name,brand,retail_price,department,sku,distribution_center_id,profit
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,13,6998,36,Cancelled,2022-10-22 07:55:58+00:00,NaN,NaN,NaN,15.67,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,7.44325,Shorts,Grane Supergirl Shorts,Grane,15.67,Women,3D4893419E57449FB290647149F738D4,2,0.0
1,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,11,7173,29,Cancelled,2022-10-20 06:35:35+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.47081,Skirts,Woman Within Plus Size Petite flare skirt,Woman Within,24.99,Women,162D18156ABE38A3B32851B72B1D44F5,5,0.0
2,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3,12,1488,33,Cancelled,2022-10-24 07:19:09+00:00,NaN,NaN,NaN,24.99,Vanessa,Ross,vanessaross@example.net,52,Piauí,609 Susan Row,64120-000,União,Brasil,-4.594783,-42.789899,Organic,2020-10-02 10:03:00+00:00,10.89564,Sweaters,LookbookStore Women Coloured Zip Mouth Smile S...,LookbookStore,24.99,Women,8A146F1A3DA4700CBF03CDC55E2DAAE6,5,0.0

### 5-1) country

In [16]:
# 나라 별 profit 합계 구하기
country_profit = pd.DataFrame(df.groupby('country')['profit'].sum().round(2))
country_profit

                    profit
country
Australia         60656.70
Austria              42.98
Belgium           36909.66
Brasil           440695.43
China           1072233.51
Colombia            265.71
Deutschland          84.29
España               17.18
France           147860.70
Germany          126626.43
Japan             72819.31
Poland             6781.15
South Korea      167261.25
Spain            121628.74
United Kingdom   148864.00
United States    697102.00

In [ ]:
#pip install --upgrade nbformat

In [17]:
import plotly.express as px

fig = px.line(country_profit, x=country_profit.index, y=country_profit['profit'], width=1200, height=500, title='나라 별 매출')
fig.show()

### 5-3) state 별 매출

In [ ]:
df['state'].unique()

In [36]:
df['state'].nunique()

228

In [39]:
# 나라 별, 주 별 profit 합계 구하기
#pd.set_option('display.max_rows', 30)
state_profit = pd.DataFrame(df.groupby(['country', 'state'])['profit'].sum().round(2)).reset_index()
state_profit

           country                         state    profit
0        Australia  Australian Capital Territory   1198.71
1        Australia               New South Wales  20806.15
2        Australia            Northern Territory    446.17
3        Australia                    Queensland  11026.26
4        Australia               South Australia   3372.87
..             ...                           ...       ...
227  United States                      Virginia  19261.06
228  United States                    Washington  19202.33
229  United States                 West Virginia    495.85
230  United States                     Wisconsin   7788.17
231  United States                       Wyoming    693.42

[232 rows x 3 columns]

In [41]:
# 각 나라에 어떤 주가 있는지 확인  (도시들이 이렇게까지 많았나..?)
#pd.set_option('display.max_rows', None)
state_profit.groupby('country')['state'].count()

country
Australia          8
Austria            1
Belgium            3
Brasil            27
China             32
Colombia           1
Deutschland        1
España             1
France            13
Germany           16
Japan             35
Poland             3
South Korea       16
Spain             20
United Kingdom     4
United States     51
Name: state, dtype: int64

### 5-4) city 별 매출

In [21]:
df['city'].unique()

array(['União', 'Cheongju City', 'New York', ..., 'Floresville',
       'Campredó', 'Elsdorf'], dtype=object)

In [31]:
df['city'].nunique()

7586

In [40]:
# 나라 별, 주 별, 도시 별 profit 합계 구하기
city_profit = pd.DataFrame(df.groupby(['country', 'state', 'city'])['profit'].sum().round(2)).reset_index()
city_profit

            country                         state                city   profit
0         Australia  Australian Capital Territory            Canberra  1198.71
1         Australia               New South Wales              Auburn   416.85
2         Australia               New South Wales       Baerami Creek   149.29
3         Australia               New South Wales     Barrington Tops     0.00
4         Australia               New South Wales            Berkeley    23.10
...             ...                           ...                 ...      ...
8860  United States                       Wyoming            Cheyenne     0.00
8861  United States                       Wyoming  North Rock Springs    25.65
8862  United States                       Wyoming          Ranchettes   192.09
8863  United States                       Wyoming            Sheridan     9.91
8864  United States                       Wyoming          Vista West   169.29

[8865 rows x 4 columns]

In [42]:
# 각 나라, 주에 어떤 도시가 있는지 확인  (도시들이 이렇게까지 많았나..?)
#pd.set_option('display.max_rows', None)
city_profit.groupby(['country', 'state'])['city'].count()

country        state
Australia      Australian Capital Territory      1
               New South Wales                 115
               Northern Territory               11
               Queensland                       84
               South Australia                  31
                                              ...
United States  Virginia                         85
               Washington                       86
               West Virginia                     9
               Wisconsin                        44
               Wyoming                           7
Name: city, Length: 232, dtype: int64

## 6. 상품 카테고리 별 매출
- category, name, brand